.callout a,
.callout a:visited {
  text-shadow: -1px -1px 0 var(--boxed-background-color),
    1px -1px 0 var(--boxed-background-color),
    -1px 1px 0 var(--boxed-background-color),
    1px 1px 0 var(--boxed-background-color);
  color: currentColor;
  background-image: linear-gradient(
      90deg,
      var(--boxed-background-color),
      var(--boxed-background-color)
    ),
    linear-gradient(90deg, var(--color-accent-dark), var(--color-accent-dark));
  background-repeat: no-repeat;
  background-position: -100% 105%, 0% 105%;
  background-size: 0px 0.2rem, 100% 0.2rem;
  text-decoration: none;
  transition: background-size 0.4s ease-in;
}

.callout a:hover,
.callout a:focus {
  /* color: var(--green); */
  background-repeat: no-repeat;
  background-position: 0% 105%, 0% 105%;
  background-size: 100% 0.2rem, 100% 0.2rem;
  text-decoration: none;
}

.callout {
  flex: 1 1 var(--min);
  padding: var(--size-300) var(--size-600);
  border: 0.5px solid var(--color-dark);
  /* border-radius: 5px; */
  background: var(--boxed-background-color);
  position: relative;
  margin: var(--size-700) 0;
}

.callout img {
  margin-left: auto;
  margin-right: auto;
}
