.button {
  text-decoration: none;
  /* background: var(--dark-green);
  color: var(--lightest); */
  font-size: var(--size-500);
  margin-top: var(--size-500);
  margin-bottom: var(--size-500);
  display: inline-block;
  position: relative;
}

.button[data-color="primary"] {
  background-color: var(--color-primary);
  color: var(--color-dark);
  /* text-shadow: -1px -1px 0 var(--color-primary), 1px -1px 0 var(--color-primary),
    -1px 1px 0 var(--color-primary), 1px 1px 0 var(--color-primary); */
}

.button[data-color="primary-dark"] {
  background-color: var(--color-primary-dark);
  color: var(--color-light);
}

.button[data-color="accent-dark"] {
  background-color: var(--color-accent-dark);
  color: var(--color-light);
}

.button[data-color="accent"] {
  background-color: var(--color-accent);
  color: var(--color-dark);
  /* text-shadow: -1px -1px 0 var(--accent-color), 1px -1px 0 var(--accent-color),
    -1px 1px 0 var(--accent-color), 1px 1px 0 var(--accent-color); */
}

.button[data-color="dark"] {
  background-color: var(--color-charcoal);
  color: var(--light-text);
  /* text-shadow: -1px -1px 0 var(--accent-color), 1px -1px 0 var(--accent-color),
    -1px 1px 0 var(--accent-color), 1px 1px 0 var(--accent-color); */
}

.button::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: calc(100% + 0.5rem);
  width: calc(100% + 0.5rem);
  z-index: -1;
  transform: translate(-0.25rem, -0.25rem);
  border-radius: 60px;
  transition: all 0.2s ease-out;
}

.button[data-color="primary-dark"]::before {
  background: var(--color-accent-dark);
}

.button[data-color="dark"]::before {
  background: var(--color-accent-dark);
}

.button[data-color="accent-dark"]::before {
  background: var(--color-primary-dark);
}

.button:hover::before {
  height: 99%;
  width: 99%;
  transform: translate(0.5%, 0.5%);
  z-index: -1;
}
