.single-line-input {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-7);
  justify-content: center;
  align-items: center;
}

input[type="submit"] {
  border-radius: 5px;
  /* font-size: var(--size-4); */
  font-weight: 600;
  font-family: var(--heading-font);
  padding: var(--size-2) var(--size-3);
  margin: 0;
  cursor: pointer;
  background-color: var(--primary-color);
  /* border: 2px solid var(--text-color); */
  border: none;
  max-width: 15ch;
  width: 100%;
  flex: 1 1 15ch;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  background-color: var(--green-1);
  color: var(--gray-9);
  /* border: 2px solid var(--primary-color); */
}

label > input[type="email"] {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 var(--size-300);
  text-align: center;
}

[data-content="narrow"] {
  margin: 0 auto;
  max-width: 45ch;
}

input[type="email"],
input[type="text"],
input[type="url"],
select {
  border-radius: 5px;
  background-color: var(--gray-1);
  border: 2px solid var(--gray-9);
  /* font-size: var(--size-500); */
  padding: var(--size-2) var(--size-3);
  max-width: var(--size-content-3);
  width: 100%;
  flex: 1 1 40ch;
  color: var(--gray-9);
}

select {
  max-width: fit-content;
}

input[type="email"]:focus,
input[type="text"]:focus,
input[type="url"]:focus {
  /* border: 2px solid var(--color-accent); */
  /* outline-offset: 2px; */
  /* outline-style: solid; */
  outline-color: var(--secondary-color);
}

input[type="email"]:valid,
input[type="text"]:valid,
input[type="url"]:valid {
  border: 2px solid var(--primary-color);
}

input[type="email"]:not(:placeholder-shown):invalid,
input[type="text"]:not(:placeholder-shown):invalid,
input[type="url"]:not(:placeholder-shown):invalid {
  border: 2px solid red;
}

form {
  padding: var(--size-400) 0;
}

label {
  display: flex;
  flex-direction: column;
  gap: var(--size-300);
}

label > span {
  display: inline;
}
