/*! purgecss start ignore */
.marker-highlight {
  position: relative;
  z-index: 0;
  display: inline-block;
}

.marker-highlight[data-highlight] {
  color: var(--dark-text);
}

.marker-highlight:before {
  content: "";
  width: 100%;
  height: 2ex;
  position: absolute;
  z-index: -1;
  filter: url(#marker-shape);
  left: 0rem;
  top: 0.75ex;
  padding: 0 0.25rem;
}

h1 .marker-highlight:before {
  top: 0.25ex;
}
/*! purgecss end ignore */

.marker-highlight[data-highlight="accent-light"]:before {
  background-color: var(--color-accent-light);
}

.marker-highlight[data-highlight="accent-dark"]:before {
  background-color: var(--color-accent-dark);
}

.marker-highlight[data-highlight="primary-dark"]:before {
  background-color: var(--color-primary-dark);
}

.marker-highlight[data-highlight="primary"]:before {
  background-color: var(--color-primary);
}

.marker-highlight[data-highlight="primary-light"]:before {
  background-color: var(--color-primary-light);
}
