@import "open-props/style";
@import "open-props/normalize";

@import "./_properties.css";
@import "./utilities/_skip-link.css";
@import "./utilities/_wrapper.css";
@import "./utilities/_flow.css";

/* End Typography */

/* @import "./_resets.css"; */

/* Utilities */
/* @import "./utilities/_typography.css";

@import "./utilities/_auto-grid.css";
*/
/* @import "./utilities/_full-width.css"; */
/* @import "./utilities/_fluid-grid.css"; */
/* @import "./utilities/_boxed.css"; */
/* @import "./utilities/_subtag.css"; */
/* @import "./utilities/_button.css"; */
/* @import "./utilities/_pill.css"; */
@import "./utilities/_fluid-flex.css";
@import "./utilities/_links.css";
@import "./utilities/_inputs.css";
/* @import "./utilities/_marker-highlight.css"; */
/* @import "./utilities/_cover-img.css"; */
/* @import "./utilities/_prism.css"; */
/* @import "./utilities/_hr.css"; */
/* @import "./utilities/_details.css"; */

/* Blocks */
/* @import "./blocks/_header.css";
@import "./blocks/_nav.css"; */
/* @import "./blocks/_toc.css"; */
/* @import "./blocks/_tags.css"; */
/* @import "./blocks/_staggered-list.css"; */
/* @import "./blocks/_snapped-scroll.css"; */
/* @import "./blocks/_intro.css"; */
/* @import "./blocks/_request.css"; */
/* @import "./blocks/_footer.css"; */
/* @import "./blocks/_imgTextOverlap.css"; */
/* @import "./blocks/_post.css"; */
@import "./blocks/_form.css";
/* @import "./blocks/_blockquote.css"; */
/* @import "./blocks/_code.css"; */
/* @import "./blocks/_card.css"; */
/* @import "./blocks/_callout.css"; */
/* @import "./blocks/_invoice.css"; */
/* @import "./blocks/_social-svg.css"; */
/* @import "./blocks/_writing-nav.css"; */

code,
pre {
  font-size: var(--font-size-2);
  border-radius: var(--radius-2);
  padding: var(--size-1) var(--size-2) !important;
  max-width: 100%;
  width: 100%;
  width: fit-content;
  background-color: var(--gray-8);
}

.highlight {
  /* background: var(--green-1); */
  /* color: var(--gray-9); */
  border-block: var(--border-size-2) var(--secondary-color) solid;
  padding: var(--size-6) var(--size-3);
  /* border-radius: var(--radius-2); */
}

/* .highlight > h2:first-of-type {
  font-size: 140%;
  background: var(--secondary-color);
  color: var(--background-color);
  padding: var(--size-3) var(--size-4) var(--size-1) var(--size-4);
  margin-top: calc((var(--size-2) + var(--size-6)) * -1);
} */

.highlight p {
  max-width: 100%;
}

.highlight figure {
  margin-inline: auto;
}

.emphasis {
  font-weight: bold;
  font-family: var(--heading-font);
  color: var(--green-2);
}

.large {
  font-size: 125%;
}

[data-accordion] {
  list-style: none;
  padding: 0;
  width: 100%;
}
[data-accordion-item] {
  max-width: 100%;
  padding: 0;
}

[data-accordion-item] p[slot="title"] {
  margin: 0;
}

[data-accordion-item] button {
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid var(--secondary-color);
  background: none;
  font: inherit;
  line-height: inherit;
  color: inherit;
  cursor: pointer;
  /* padding: 0.5rem 1rem; */
  padding-block: var(--size-2);
  /* padding-inline-start: 0; */
  width: 100%;
  text-align: left;
}

[data-accordion-item] button[aria-expanded="true"] {
  background-color: var(--secondary-color);
}
[data-accordion-item] button[aria-expanded="true"] > * {
  color: var(--background-color);
}

[data-accordion-item] button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

[data-accordion-item] [role="region"] {
  padding: 1rem;
}

.autocomplete-list {
  text-align: left;
}

.autocomplete-list-item-no-results,
.autocomplete-list-item-loading {
  color: var(--gray-7) !important;
}
